@font-face {
    font-family: "SUSE";
    src: url('/fonts/SUSE-Regular.woff2') format('woff2'),
         url('/fonts/SUSE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  