h1{
  text-decoration: none;
}

.article-card{
  border-top: 1px solid grey;
	margin-top: 10px;
}

.article-card-title{
  background-color: rgb(255, 255, 255);
}


body {
	background-color: #e6e9f7;
	margin: 20px;
}
main {
	background: white;
	padding: 15%;
	border-radius: 10px;
}

nav {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}
#header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
h1 {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}
label {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}

input,
select {
	border-radius: 3px;
	padding: 5px;
	border: 1px solid #676767;
	margin-top: 4px;
}

#search-label {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#search-input {
	border-radius: 3px;
	margin-top: 0px;
	padding: 5px;
}
